<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-investment-amount">Initial Investment Amount</label>
      <input id="initial-investment-amount" type="number" name="initial-investment-amount" [(ngModel)]="initialInvestmentAmount"/>
    </p>
    <p>
      <label for="annual-investment-amount">Annual Investment Amount</label>
      <input id="annual-investment-amount" type="number" name="annual-investment-amount" [(ngModel)]="annualInvestmentAmount" />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return-rate">Expected Return Rate</label>
      <input id="expected-return-rate" type="number" name="expected-return-rate" [(ngModel)]="expectedReturnRate" />
    </p>
    <p>
      <label for="duration">Duration</label>
      <input id="duration" type="number" name="duration" [(ngModel)]="duration" />
    </p>
  </div>
  <p>
    <button>Calculate</button>
  </p>
</form>
